/02-Review/EmployeePractice/nbproject/private/
/02-Review/EmployeePractice/build/
/02-Review/StatisticsExample/nbproject/private/
/02-Review/StatisticsExample/build/
/03-Class_Design/examples/JavaAccessExample/nbproject/private/
/03-Class_Design/solutions/practice1/EmployeeSolution/nbproject/private/
/02-Review/examples/ReviewExamples/nbproject/private/
/02-Review/examples/StatisticsExample/nbproject/private/
/03-Class_Design/practices/EmployeePractice/build/
/03-Class_Design/practices/EmployeePractice/nbproject/private/