/06-Interfaces/practices/Pet/build/
/06-Interfaces/practices/EmployeeMemoryDAO/build/
/06-Interfaces/practices/PetComposition/build/
/14-JDBC/practices/SimpleJDBCExample/build/
/14-JDBC/practices/EmployeeDAOJDBC/build/